KICK_CHANNEL_SLUG=rellaria

# Kanal bilgisi otomatik alınamazsa Kick channel API'sindeki chatroom.id değerini yazın.
KICK_CHATROOM_ID=

# Kick Pusher altyapısı değişirse buradan güncellenebilir.
KICK_PUSHER_URL=wss://ws-us2.pusher.com/app/32cbd69e4b950bf97679

PORT=3000
CLIENT_ORIGIN=*
